@model ChangePassVM
<h1> Change pass</h1>
<form method="post">
    <input asp-for="userID" hidden />
    <input asp-for="Email" hidden />
    <div class="border p-3 mt-4">
        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control"disabled />
            <label asp-for="Email" class="form-label"></label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="NewPassword" class="form-control" />
            <label asp-for="NewPassword">Password</label>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="btn group" role="group">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-controller="Account" asp-action="Index" class="btn btn-primary">
                Back to List
            </a>
        </div>
    </div>
</form>