@model Category

<form method="post" class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="mb-0">Edit Category</h2>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="categoryName" class="col-sm-3 col-form-label">Category Name</label>
                <div class="col-sm-9">
                    <input asp-for="Name" type="text" id="categoryName" class="form-control" placeholder="Enter category name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                    <input asp-for="Description" type="text" id="description" class="form-control" placeholder="Enter category description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="displayOrder" class="col-sm-3 col-form-label">Display Order</label>
                <div class="col-sm-9">
                    <input asp-for="DisplayOrder" type="text" id="displayOrder" class="form-control" placeholder="Enter display order" />
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-warning" style="width:150px">Edit</button>
                <a asp-controller="Category" asp-action="Index" class="btn btn-dark ml-2">Back To List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
