@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"] 🆘</h1>

<p>👋 Welcome to our help page! Here, you'll find links to our team members who are ready to assist you. If you encounter any issues, don't hesitate to reach out to us. 📞</p>

<h2>👥 Our Team on Facebook</h2>
<div class="team-links">
    <p><a href="https://www.facebook.com/profile.php?id=100014545847500" target="_blank"><i class="fab fa-facebook"></i> Trần Thắng </a></p>
    <p><a href="https://www.facebook.com/profile.php?id=100029611447344" target="_blank"><i class="fab fa-facebook"></i> Trương Hoàng Hiếu </a></p>
    <p><a href="https://www.facebook.com/profile.php?id=100009474443661" target="_blank"><i class="fab fa-facebook"></i> Brown Phúc</a></p>
    <p><a href="https://www.facebook.com/t.phong.nguyen.921" target="_blank"><i class="fab fa-facebook"></i> Nguyễn T.Phong </a></p>
</div>

